<h1>{{title}}</h1>

<ul>
    <li *ngFor="let value of values">
        <a (click)="onClick(value)">{{value}}</a>
    </li>
</ul>
<select class="form-control">
  <option *ngFor="let value of values">{{value}}</option>  
</select>
<br>

<input type="text" #myImput class="form-control" placeholder="Text input"  [(ngModel)]="value">
<br>    
<button (click)="onClicktest(value)" class="btn btn-primary" [disabled]="!value">teste</button>
  
<br><br>
<p class="bg-success">{{test}}</p>
<input type="text" id="typetext" [(ngModel)]="user.name" />
<button (click)="test2(user)" class="btn btn-primary">teste</button>{{user | json}}
<br><br>
<userList-component></userList-component>