<h1>{{title}}</h1>

<ul>
    <li *ngFor="let value of values">
        <a (click)="onClick(value)">{{value}}</a>
    </li>
</ul>
<select class="form-control">
  <option *ngFor="let value of values">{{value}}</option>  
</select>
<br>
<input type="text" #myImput class="form-control" placeholder="Text input">
<br>
<button (click)="onClicktest(myImput.value)" class="btn btn-primary">teste</button>
<br><br>
<p class="bg-success">{{test}}</p>


<input type="text" id="typetext" [(ngModel)]="user.name" />
<button (click)="test2(user)" class="btn btn-primary">teste</button>{{user | json}}
<br><br>
<input #text (keyup)="getlike(text.value)">
<br><br>
<table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | async">
        <td>{{ user._id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
</table>   